<article class="text--justified">
    <header><h2>Patients</h2></header>
  
    <table *ngIf="patients">
      <thead>
        <tr>
          <th>Portrait</th>
          <th>Name</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients.patients">
          <td>{{patient.name}}</td>
          <td>
            <a [routerLink]="['/patients', patient.id]">View</a>
          </td>
          <td>
            <a [routerLink]="['/patients', patient.id, 'edit']">Edit</a>
          </td>
          <td>
            <a [routerLink]="['/patients/add/new']">Add</a>
          </td>
          <td>
            <button (click)="onDelete(patient)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
  <router-outlet></router-outlet>
  